.profile {
  padding: 0 10px 10px;
  color:#000;
  // .profile__img
  &__img-wrapper {
    margin: 0 -10px;
  }
  &__img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  // .profile__user
  &__user {
    margin-top: 15px;
    display: flex;
    width: 100%;
    background: #fff;
    padding: 15px;
  }

  // .profile__user-img
  &__user-img {
    height: 150px;

    img {
      height: 100%;
    }
  }

  // .profile__user-info
  &__user-info {
    margin-left: 30px;
    color: #000;
  }

  // .profile__user-name
  &__user-name {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  // .profile__user-list
  &__user-list {
    font-size: 17px;
  }

  // .profile__user-list-item
  &__user-list-item {
    margin-bottom: 7px;
  }
}