.posts {
  margin-top: 70px;

  &__title {
    font-size: 30px;
  }

  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 20px 30px 20px;

  }

  &__btn {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #318CBF;
    padding: 10px 20px;
    margin-top: 10px;
    align-self: flex-end;
  }

  &__items {
    margin-top: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-child {
      margin: 0;
    }
  }

  &__icon {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 40px;

    img {
      width: 100%;
    }
  }

  &__name {
    font-size: 25px;
    font-weight: 500;
  }
}