.post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background: #fff;
    padding: 15px;
    border-radius: 30px;
    &:last-child{
        margin: 0;
    }
    &__icon {
        border-radius: 50%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        margin-right: 40px;
        img {
            width: 100%;
        }
    }
    // .content__posts-name
    &__name {
        font-size: 25px;
        font-weight: 500;
    }
}